/* Archivo styles.css */

/* Importar la fuente Poppins desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Aplicar la fuente Poppins a todo el body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #151515;
  margin: 2rem;
}

h1 {
  color: antiquewhite;
}

a {
  color: white;
}

.containerCryptos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2rem 0;
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.cardCrypto {
  display: inline-block;
  margin: 0.5rem;
  background-color: #252525;
  color: rgb(220, 220, 220);
  border-radius: 5px;
  border: 1px solid skyblue;
  padding: 1rem;
  border-left: 8px solid skyblue;
}

.info {
  color: skyblue;
}

.positiveChange {
  color: lightgreen;
}

.negativeChange {
  color: lightcoral;
}
